.classicBlock {
    display: none;
}

@media (min-width: 481px) {

    .classicBlock {
        display: block;
        width: 100%;
        background-color: var(--beige-1);
        padding: 120px 0 25px 0;
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
    }

    .contentBlockVIP {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 50px 0 5px 0;
        width: 96%;
        margin: 0 auto;
        max-width: 1385px;
        z-index: 1;
        position: inherit;
    }

    .headers {
        width: fit-content;
    }

    .headerH2 {
        font-size: 24px;
        margin: 0;
        letter-spacing: 0.61px;
        color: var(--black);
    }

    .headerH2::before {
        content: '•';
        display: inline-block;
        font-size: 18px;
        color: var(--beige-4);
        margin-right: 10px;
        transform: translateY(-2px);
    }

    .headerH3 {
        font-size: 48px;
        color: var(--black);
        font-family: 'Unbounded';
        margin: 10px 5px;
        letter-spacing: 0.06rem;
        line-height: 55px;
    }

    .backgroundImageVIP {
        position: absolute;
        transform: scale(-1, 1);
        right: -165px;
        top: -60px;
        height: 1100px;
        width: auto;
    }

    .names {
        display: flex;
        flex-direction: row;
        background-color: var(--beige-2);
        border-radius: 20px;
        height: 67px;
        width: 1054px;
        padding: 5px;
        justify-content: space-between;
        box-sizing: border-box;
        margin-top: 8px;
    }

    .name {
        height: 56px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        font-family: 'Lato', serif;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.3s ease;
        padding: 0px 45px;
        cursor: pointer;
    }

    .name:hover,
    .nameActive {
        background-color: #fff;
    }

    .leaf {
        width: 18px;
        height: 18px;
        transform: scale(1.4) translateY(-1px);
        margin-right: 10px;
    }

    .slides {
        height: 610px;
        width: 100%;
        margin-top: 20px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 140px;
        transition: 0.3s ease-in-out;
        transform: translateX(0);
        /* transform: translateX(calc(-100% - 140px)); */
        opacity: 1;
        /* opacity: 0; */
    }

    .slidesBlock {
        display: flex;
        width: 96vw;
        max-width: 1383px;
        height: 100%;
        border-radius: 20px;
        background-color: #fff;
        transition: 0.3s opacity ease;
        position: absolute;
    }

    .opacity0 {
        opacity: 0;
    }

    .opacity1 {
        opacity: 1;
    }

    .slides:first-of-type {
        opacity: 1;
    }

    .image {
        min-width: 55%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 20px;
        border: 1px solid #fff;
        box-sizing: border-box;
    }

    .textBlock {
        min-width: 50%;
        width: 50%;
        transform: translateX(-10%);
        height: 100%;
        border-radius: 20px;
        background-color: #fff;
        padding: 32px 35px 32px 32px;
        box-sizing: border-box;
    }

    .textBlock>* {
        margin: 0;
    }

    .header {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0%;
        margin-top: 4px;
    }

    .text {
        margin-top: 8px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0%;
    }

    .labels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 550px;
        margin-top: 16px;
    }

    .label {
        height: 34px;
        box-sizing: border-box;
        border-radius: 12px;
        padding-top: 6px;
        padding-right: 12px;
        padding-bottom: 6px;
        padding-left: 12px;
        background-color: var(--gray-1);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin-right: 4px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .plusses {
        margin-top: 14px;
        padding-left: 0;
    }

    .plus {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
        list-style: none;
    }

    .list {
        margin: 0 10px 3px 0;
    }

    .price {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: var(--green-2);
        margin-top: 25px;
    }

    .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: var(--gray-8);
        margin-top: 0px;
        width: 400px;
    }

    .button {
        width: 180px;
        height: 56px;
        border-radius: 16px;
        padding-top: 16px;
        padding-right: 20px;
        padding-bottom: 16px;
        padding-left: 20px;
        background-color: var(--cherry-red-1);
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin-top: 40px;
    }

    .bottomDescriptionVIP {
        width: 900px;
        margin: 24px auto;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
    }

    .bottomDescriptionSpan {
        color: var(--green-2);
    }
}