:root {
    /* Primary Colors */
    --black: #13151a;
    --white: #ffffff;

    /* Grey */
    --gray-1: #f5f6f7;
    --gray-2: #efefef;
    --gray-3: #d3d3d4;
    --gray-4: #dfe3e9;
    --gray-5: #d1d8e0;
    --gray-6: #d8dadf;
    --gray-7: #a9a9a9;
    --gray-8: #57585c;

    /* Cherry Red */
    --cherry-red-1: #602828;
    --cherry-red-2: #652b2b;
    --cherry-red-3: #572727;
    --cherry-red-4: #4a2121;

    /* Green */
    --green-1: #78c759;
    --green-2: #63644c;
    --green-3: #5e5f41;
    --green-4: #57583d;

    /* Beige */
    --beige-1: #f6f1e5;
    --beige-2: #e9dfc6;
    --beige-3: #bfab95;
    --beige-4: #98744a;
    --beige-5: #935628;
    --beige-6: #813408;
    --beige-7: #a54208;

    /* System Colors */
    --green-dark-1: #027448;
    --green-dark-2: #005940;
    --green-light: #ecfdf3;
    --red-dark-1: #cc0029;
    --red-dark-2: #80001a;
    --orange-light: #fffbeb;
    --red-light: #ffebe9;
    --blue-dark: #185184;
    --blue-light: #f2f8fe;

    /* Extra Colors */
    --orange: #fc3f1d;
    --purple-1: #e94282;
    --purple-2: #933f90;
    --yellow-1: #fddd04;
    --yellow-2: #f3c032;
    --green-light-2: #b5cc05;
}