.mainBlock {
  width: 100%;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--beige-1);
  position: relative;
}

.menuItem {
  list-style-type: none;
  display: flex;
  color: var(--black);
  padding-right: 24px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  transition: 0.2s ease;
  height: 72px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.activeItem {
  color: var(--beige-4);
}

.menuItemLink {
  color: var(--black);
  text-decoration: none;
}

.menuItem:hover,
.menuItem:hover .menuItemLink {
  color: var(--beige-5);
}

.arrowDown {
  display: block;
  padding: 0px 0 0 4px;
  width: 17px;
  height: 16px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.menuItem:hover .arrowDown {
  transform: scaleY(-1);
}

.menuItem:hover .subMenuContainer {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
  height: fit-content;
  transform: translateY(-28px);
}

.subMenuContainer {
  position: absolute;
  z-index: 1;
  top: 79px;
  left: -36px;
  transition: 0.2s ease;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-40px);
}

.subMenuContainerOpen {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
  height: fit-content;
  transform: translateY(-28px);
}

.mainBlockSecondMenu {
  width: 236px;
  padding: 14px 0 20px 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--beige-1);
  border-radius: 0 0 12px 12px;
  margin-top: 20px;
  transition: 0.2s ease;
  box-shadow: 0px 4px 6px 0px #00000029;
}

.subMenuItem {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  transition: 0.2s ease;
  height: 42px;
  align-items: center;
}

.subMenuItem:hover,
.subMenuItem.activeItem:hover {
  color: var(--beige-5);
}

.subMenuItem.activeItem {
  color: var(--beige-4);
}

.secondMenuItemImg {
  transition: 0.2s ease;
  margin-right: 7px;
  margin-bottom: 2px;
  width: 18px;
  height: 18px;
  opacity: 0;
}

.subMenuItem.activeItem .secondMenuItemImg,
.subMenuItem:hover .secondMenuItemImg {
  opacity: 1;
}
