.mainBlock {
    width: 100%;
    height: 660px;
    background: var(--green-2);
    position: sticky;
}

.addLine {
    width: 100%;
    height: 640px;
    margin: 0;
    background: var(--green-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.image {
    width: 100%;
    height: auto;
}


.firstImg {
    transform: translateY(-170px);
}

.secondImg {
    transform: translateY(-50px);
}

.slide {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: opacity 1.5s ease-out;
}

.opacity1 {
    opacity: 1;
}

.textAria {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%);
}