.mainBlock {
    width: 100%;
    height: 770px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.bottomDescription {
    width: 700px;
    margin: 38px auto;
    text-align: center;
    font-size: 26px;
    font-family: "Unbounded", serif;
    color: var(--black);
}

.bottomDescriptionSpan {
    color: var(--green-2);
}