.classicBlock {
    width: 100%;
    background-color: var(--beige-1);
    padding: 100px 0 25px 0;
    position: relative;
}

.contentBlock {
    width: 96%;
    margin: 0 auto;
    max-width: 1385px;
}

.headers {
    width: fit-content;
}

.headerH2 {
    font-size: 24px;
    margin: 0;
    letter-spacing: 0.61px;
    color: var(--black);
}

.headerH2::before {
    content: '•';
    display: inline-block;
    font-size: 18px;
    color: var(--beige-4);
    margin-right: 10px;
    transform: translateY(-2px);
}

.headerH3 {
    font-size: 48px;
    color: var(--black);
    font-family: 'Unbounded';
    margin: 10px 5px;
    letter-spacing: 0.06rem;
    line-height: 55px;
}

.backgroundImageVIP {
    position: absolute;
    transform: scale(-1, 1);
    right: -170px;
    top: -35px;
    height: 993px;
    width: auto;
}