.footer {
  background: #f6f1e5;
  padding: 64px 32px 0 32px;
  color: #222;
  border-radius: 40px 40px 0 0;
  color: var(--gray-8);
  font-size: 16px;
  line-height: 22px;
  z-index: 10;
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  margin: -70px auto 0 auto;
  box-sizing: border-box;

  @media (max-width: 1280px) {
    padding: 64px 24px 0 24px;
  }

  @media (max-width: 768px) {
    border-radius: 24px;
    padding: 64px 16px 0 16px;
  }

  @media (max-width: 480px) {
    border-radius: 20px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;

  @media (max-width: 1280px) {
    gap: 40px;
  }

  @media (max-width: 1025px) {
    flex-direction: column;
    gap: 56px;
  }
}

.logoSection {
  display: flex;
  flex-direction: column;
  min-width: 460px;

  @media (max-width: 1280px) {
    min-width: 25vw;
  }

  @media (max-width: 1025px) {
    min-width: 35vw;
  }
}

.logo {
  width: 82px;
  height: auto;
}

.littleHeader {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: var(--black);
  margin-top: 40px;
  margin-bottom: 8px;

  @media (max-width: 1025px) {
    margin-top: 12px;
  }
}

.littleText {
  margin-top: 0;
  margin-bottom: 16px;
}

.icons {
  display: flex;
  gap: 8px;
}

.icon {
  width: 48px;
  height: 48px;
}

.rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 90px;
  row-gap: 70px;
  column-gap: 110px;
  width: 100%;

  @media (max-width: 1280px) {
    column-gap: 80px;
  }

  @media (max-width: 1025px) {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;

    .box:nth-child(3) {
      order: 5;
    }

    .box:nth-child(4) {
      order: 3;
    }

    .box:nth-child(5) {
      order: 4;
    }

    .box:nth-child(6) {
      order: 6;
    }

    .rating {
      order: 5;
    }
  }

  @media (max-width: 480px) {
    .rating {
      grid-column: 1 / -1;
    }
  }
}

.menuHeader {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: var(--black);
  margin: 0;
}

.menus {
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.yandex {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  margin: 30px auto 0 auto;
  padding: 0 32px;
  color: var(--black);
  box-sizing: border-box;
  height: 146px;
  max-width: 1440px;

  background-image: url(/img/footer/woman.avif);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 803px;

  @media (max-width: 1280px) {
    padding: 0 24px;
  }

  @media (max-width: 1025px) {
    flex-direction: column;
    justify-content: unset;
    background-size: 70vw;
    height: 100px;
  }

  @media (max-width: 768px) {
    padding: 0 16px;
    background-position: right 20px bottom;
  }

  @media (max-width: 480px) {
    background-size: 80%;
  }
}

.textChoice {
  margin-bottom: 0;
}

.count {
  font-size: 12px;
}

.five {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
  margin: 0 10px 0 5px;
}

.stars {
  height: 16px;
}

.link,
.link:visited {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--beige-5);
}

.link:active {
  color: var(--beige-6);
}

.iconLink {
  color: var(--green-5);
  transition: color 0.3s;
}

.iconLink:hover {
  color: var(--green-4);
}

.hr {
  border: none;
  border-top: 1px solid var(--gray-10);
  margin: 0;
}
