.promo {
  padding: 160px 0 0 0;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.headers {
  margin: 0 auto;
}

.headerH2 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.headerH2::before {
  content: '';
}

.leaf {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

@media screen and (max-width: 480px) {
  .promo {
    display: none;
  }
}