.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf7e9;
    width: 100%;
    height: 72px;
}

.logo {
    flex-shrink: 0;
    width: 56px;
    height: 32px;
    margin: 20px 20px 20px 16px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-top: 4px;
}

.iconDown {
    transition: 0.2s ease;
    transform: rotate(0deg);
}

.rotated {
    transform: rotate(180deg);
}

.phoneIcon,
.burger,
.close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.menuOverlay {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: var(--beige-1);
    z-index: 1000;
    transition: top 0.35s ease, opacity 0.35s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.menuOverlay.open {
    top: 0;
    opacity: 1;
}

.menuContainer {
    max-height: fit-content;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
}

.menuContent {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 0 24px 0;
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    background-color: var(--beige-2);
    display: flex;
    flex-direction: column;
    padding: 13px 16px;
    transition: 0.3s ease;
}

.nav a {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: none;
    color: var(--black);
}

.menuItem {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menuItem>img {
    margin-left: 8px;
    margin-bottom: 2px;
}

.subMenu {
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease;
    font-weight: 400;
}

a.subMenuItem,
.subMenuItem {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-weight: 400;
    transition: 0.2s ease;
}

a.secondMenuActiveItem,
.secondMenuActiveItem {
    color: var(--beige-5);
    font-weight: 400;
}

.secondMenuItemImg {
    transition: 0.2s ease;
    margin-right: 7px;
    margin-bottom: 4px;
    width: 24px;
    height: 24px;
}

.activeSecondMenuItemImg {
    opacity: 1;
    filter: contrast(40%);
}

.contactsBlock {
    padding: 12px 16px;
    padding-top: 25px;
    padding-bottom: 64px;
}

.phone {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: var(--beige-5);
}

.schedule {
    margin-top: 15px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.scheduleDays {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4px;
    max-width: 380px;
}

.scheduleDaysLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 8px;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.scheduleDaysLineDay {
    width: 50%;
}

.scheduleDaysLineTime {
    width: 50%;
    text-align: end;
}

.address {
    margin-top: 15px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.mapLink {
    width: fit-content;
    height: 34px;
    border: 0;
    background: var(--cherry-red-1);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 8px 13px;
    border-radius: 10px;
}

.plusses {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.plus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plus>img {
    margin-right: 8px;
}

/* Адаптивность — скрываем бургер шапку при ширине >= 1280px */
@media (min-width: 1280px) {

    .header {
        display: none;
    }
}